* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Poppins', sans-serif;

}
.page-body {
    background: #fff;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.nav-items ul li {
    display: inline-block;
    list-style: none;
}

.btn-nav {
    background: rgb(7, 128, 233);
    padding: 10px 30px;
    border-radius: 5px;
    transition: all 1s;
}



.nav-items ul li:last-child a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.nav-items ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
}





.nav-items {
    display: flex;
    justify-content: space-between;
    /* background: transparent; */
    align-items: center;
    width: 1000px;
    background: white;
    position: fixed;
    padding: 10px 30px;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
}

.btn-nav:hover {
    background: rgb(185, 110, 23);
}



.header-page {
    display: flex;
    justify-content: center;
    background-position: center;
    max-width: 100%;
    background: rgb(240, 250, 251);

}

.col-1 {
    flex-basis: 20%;
    padding: 10px;
    min-width: 250px;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
    background: #fff;
    margin: 20px 30px;
    border-radius: 8px;
    box-shadow: 0.5px 1.5px 30px rgb(213, 225, 225);
}





.page-body h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-top: 50px;
}



#cmty {
    margin-top: 200px;
    margin-bottom: 50px;
}



.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.paragrph p {
    margin: 50px 50px;
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
    font-size: 18px;
}



.col-1 img {
    width: 100%;
    border-radius: 5px;
}

.row p {
    line-height: 30px;
    font-size: 14px;
    font-weight: 200;
}


h5 {
    text-align: center;
    margin: 20px 30px;
    color: blue;
    font-weight: 300;
    font-size: 20px;
}

/* ..........organizers section........ */

.organizers-section {
    background: linear-gradient(rgba(244, 233, 219, 0.5), rgba(239, 221, 184, 0.5));
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-position: center;
    padding-top: 60px;
    padding-bottom: 50px;
}

.organizers-section h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    margin-top: 50px;
    margin-bottom: 50px;
}

.paragrph p {
    margin: 50px 50px;
    text-align: center;
    margin-top: 60px;
    font-weight: 300;
    font-size: 18px;
}



/* ..........Community projects......... */

.community-project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;

}

.community-project h1 {
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.community-project ul li {
    list-style: none;
    padding: 20px;
    display: inline-block;
}

.community-project ul li a {
    text-decoration: none;
    color: rgb(177, 170, 170);
    cursor: pointer;
    transition: all 0.5s;
}

.community-project ul li a:hover {
    border-bottom: solid blueviolet 2px;
    color: blueviolet;
    padding: 5px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    padding-left: 40px;
}

.slider-image {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0.1px 5px 15px rgb(213, 214, 214);
}

.slider-image img {
    height: 300px;
    width: 500px;
    object-fit: fill;

}

.slider-image a {
    text-decoration: none;
    color: blueviolet;

}


/* ......footer section........ */

.footer {
    background: whitesmoke;
    max-width: 100%;
    height: 50vh;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    background: #fff;
    padding: 25px;
    border-radius: 5px;
}

.box h3 {
    font-size: 30px;
    font-weight: 200;
    padding: 10px;
}

.box p {
    font-size: 18px;
    font-weight: normal;
    padding: 15px;
    line-height: 20px;
}

.btn-signup {
    background: rgb(14, 106, 253);
    width: 500px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-signup:hover {
    background: orangered;

}

.btn-signup a {
    text-decoration: none;
    color: #fff;
    float: left;
    font-weight: 500;
}


.final-footer {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}



/* see more text decoration */

h5 {
    color: #0033ff;
    transition: 1s;
    cursor: pointer;
}

h5:hover::after {
    content: attr("&#8594;");

}